// Components
//––––––––––––––––––––––––––––––––––––––––––––––––––

// Alerts
//––––––––––––––––––––––––––––––––––––––––––––––––––

$alert-padding:                 1.5rem 2rem !default;

$alerts: (
    // name                     background                      font-color
    green:                      lighten(color("green"), 35%)      $font-color,
    red:                        lighten(color("red"), 30%)        $font-color,
    blue:                       lighten(color("aqua"), 15%)       $font-color,
    orange:                     lighten(color("orange"), 35%)     $font-color
);

// Icon Input
$icon-input-icon-color:         $input-placeholder-color !default;
$icon-input-icon-class-prefix:  'icon-' !default;
$icon-input-icon-width:         2.65em !default;
$icon-input-margin-bottom:      $input-margin-bottom !default;
