// Typography
//––––––––––––––––––––––––––––––––––––––––––––––––––

$base-font-size:                16px;
$base-font-family:              'Lato', sans-serif; 
$code-font-family:              'Inconsolata', monospace;
$header-font-family:            'Lato', sans-serif; 

$heading-font-weight:           700;

// The font sizes for h1-h6.
$h1-font-size:                  2   * $base-font-size;
$h2-font-size:                  1.5 * $base-font-size;
$h3-font-size:                  1.3 * $base-font-size;
$h4-font-size:                  1.1 * $base-font-size;
$h5-font-size:                  1 * $base-font-size;
$h6-font-size:                  .9 * $base-font-size;

// Styling
//––––––––––––––––––––––––––––––––––––––––––––––––––

// colors
$colors: (
    "cinder":         rgb(36, 41, 46),
    "whitesmoke":     rgb(245, 246, 247),
    "solitude":       rgb(250, 251, 252)
);

// defined colors
$body-background:               rgb(250, 251, 252);
$code-background:               rgb(231, 234, 235);
$font-color:                    rgb(95, 95, 95);

// misc
$generic-margin-bottom:         2.5rem; 

// lists
$ul-list-padding-left:          2rem;
$ul-list-style:                 circle outside;
$ul-list-nested-margin:         0;

$ol-list-padding-left:          1.7rem;
$ol-list-style:                 decimal outside;
$ol-list-nested-margin:         0;

$dl-margin-bottom:              $generic-margin-bottom !default;
$dt-margin:                     0 0 0 0 !default;
$dd-margin:                     0 0 $generic-margin-bottom $generic-margin-bottom !default;

// tables
$table-headed-color:            rgb(231, 233, 236) !default;

// code
$pre-padding:                   2rem;

// layers
$z-layers: (
    'header': 101,
    'site-nav': 100
);