// Typography
//––––––––––––––––––––––––––––––––––––––––––––––––––

$code-font-family:             'Inconsolata', monospace;


// Styling
//––––––––––––––––––––––––––––––––––––––––––––––––––

// colors
$colors: (
    whitesmoke: rgb(245, 246, 247)
);

// defined colors
$body-background:               rgb(245, 246, 247);
$code-background:               rgb(231, 234, 235);
$font-color:                    rgb(95, 95, 95);

//code
$pre-padding:                   2rem;