
.icon-search:before { content: '\e800'; } /* '' */
.icon-edit:before { content: '\e801'; } /* '' */
.icon-download:before { content: '\e802'; } /* '' */
.icon-attention:before { content: '\e804'; } /* '' */
.icon-info-circled:before { content: '\e805'; } /* '' */
.icon-attention-circled:before { content: '\e810'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-lightbulb:before { content: '\f0eb'; } /* '' */