/* header
 *
 */

header {
  background: color(cinder);
  padding: 2rem 0;

  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .site-nav-toggle {
    color: color(whitesmoke);
    font-size: 3rem;
    margin-right: 1rem;
    cursor: pointer;
  }

  .site-title {
    color: color(white);
    font-size: 2rem;
    font-weight: 400;
  }

}

@include media-breakpoint-down(sm) {
  header {
    padding: .5rem 0;

    .site-title {
      font-size: 1.5rem;
    }

  }
}