/* layout
 *
 */

.main {
    > .section > h1 {
        margin-bottom: 5rem;
    }

    .section {
        margin-bottom: 5rem;

        .toctree-wrapper {
            margin-top: 3rem;
        }

        .toctree-wrapper .caption {
            @extend h2;
        }
    }
}

// search page
ul.search {
    list-style-type: none;

    > li {
        padding-bottom: 1.5rem;
    }

    > li > a {
        @extend h3;
    }
}