/* layout
 *
 */


 // main body holder

.main-outer {
    background: color("whitesmoke");
    padding-top: 3rem;
    padding-bottom: 10rem;
}


// main document content

.document {

    > .section > h1 {
        margin-bottom: 5rem;
    }

    > .section {
        margin-bottom: 5rem;

        .toctree-wrapper {
            margin-top: 3rem;
        }

        .toctree-wrapper .caption {
            @extend h2;
        }
    }

    > .section > .section {
        margin-bottom: 5rem;
    }
}
