/* -- framwork overrides --------------------------------------------------- */

// some elements are using a container class so we need to loose the grid style
.docutils.container {
    width: 100%;
    margin: 0;
    padding: 0;
}

/* -- search results ------------------------------------------------------- */

#search-results {

    h2 {
        @extend h1; // changing template markup to h1 is not doing anything, 
                    // oddly searchtools.js is replacing it
        margin-bottom: 5rem;
    }

    ul.search {
        list-style-type: none;
        margin-top: 3rem;
        padding: 0;

        > li:not(:last-child) {
            padding-bottom: 3rem;
            border-bottom: solid $border-width $border-color;
            margin-bottom: 3rem;
        }
    
        > li > a {
            @extend h3;
        }
    }

}

/* -- general body styles --------------------------------------------------- */

.headerlink {
    visibility: hidden;
    padding-left: .5rem;
    opacity: .3;
    &:hover {
        opacity: .6;
    }
}

caption,
.code-block-caption,
dt,
h1,
h2,
h3,
h4,
h5,
h6,
.caption,
.caption-text {
    &:hover > a.headerlink {
        visibility: visible;
    }
}

.footnote-reference,
.citation-reference {
    font-size: 90%;
    position: relative;
    top: -.6rem;
}

.rubric {
    margin-bottom: $generic-margin-bottom / 2;
    font-weight: bold;
}

img {
    min-height: 1px;
    max-width: 100%;
    height: auto;
}

.align-left {
    float: left;
    margin-right: $generic-margin-bottom;
    margin-bottom: $generic-margin-bottom;
}

.align-center {
    margin: auto;
    display: block;

    &.figure {
        text-align: center;
    }
}

.align-right {
    float: right;
    margin-left: $generic-margin-bottom;
    margin-bottom: $generic-margin-bottom;
}

/* -- sidebars -------------------------------------------------------------- */

.sidebar {
    border: 1px solid $border-color;
    margin: 0 0 $generic-margin-bottom $generic-margin-bottom;
    padding: $generic-margin-bottom;
    background-color: color("secondary");
    width: 40%;
    float: right;
}

.sidebar-title {
    background: color("whitesmoke");
    font-weight: bold;
    margin: {
        top: -$generic-margin-bottom;
        right: -$generic-margin-bottom;
        bottom: $generic-margin-bottom;
        left: -$generic-margin-bottom;
    }
    padding: .5rem 1rem;
}

/* -- tables ---------------------------------------------------------------- */

table.docutils:not(.footnote):not(.citation) {
    @extend .table-headed;
    @extend .table-bordered;
    @extend .table-striped;
}

table.docutils.field-list {
    @extend .table-headed;
    @extend .table-bordered;
}

table.docutils.footnote {
    color: color("grey");
    width: auto;
}

table.docutils.footnote td {
    border: 0;
    padding-left: 0;
    padding-right: 2rem;

    /* make the column with the note fill all the width */
    &:not(.label) {
        width: 100%;
    }

    /* where an em and p are together inline them so they are side by side */
    em+p {
        display: inline-block;
    }

    /* remove margin from last p */
    p.last {
        margin-bottom: 0;
    }
}


/* -- figures --------------------------------------------------------------- */

.figure p.caption {
    font-style: italic;
}

/* -- other body styles ----------------------------------------------------- */

ol.arabic {
    list-style-type: decimal;
}

ol.loweralpha {
    list-style-type: lower-alpha;
}

ol.upperalpha {
    list-style-type: upper-alpha;
}

ol.lowerroman {
    list-style-type: lower-roman;
}

ol.upperroman {
    list-style-type: upper-roman;
}

li p,
dd p {
    margin-bottom: $generic-margin-bottom / 2;

    &:last-child {
        margin-bottom: 0;
    }
}

.line-block {
    margin-bottom: $generic-margin-bottom;
    margin-left: $generic-margin-bottom;

    .line-block {
        margin-bottom: 0;
        margin-left: 2rem;
    }
}

blockquote .attribution {
    margin-bottom: 0;
}  

.guilabel {
    border: $border-width solid color("primary");
    background: color-lighten("primary", 30%);
    font-size: 80%;
    font-weight: 700;
    border-radius: $global-radius;
    padding: .15rem .5rem;
    margin: auto .2rem;
}

/* -- code displays --------------------------------------------------------- */

div[class^='highlight-'] {
    background: $code-background;
    margin-bottom: $generic-margin-bottom;
    overflow-x: auto;

    pre {
        margin-bottom: 0;
    }
}

td.linenos pre {
    margin: 0;
    border: 0;
    border-radius: 0;
    border-right: $code-border-width solid $code-border-color;
}

td.code {
    width: 100%;
}

td.code pre {
    margin: 0;
    border: 0;
    border-radius: 0;
}

table.highlighttable {
    font-size: 100%;
    border: $code-border-width solid $code-border-color;
    border-radius: $code-border-radius;
    margin-bottom: 0;
}

table.highlighttable td {
    padding: 0;
}

tt.literal,
code.literal {
    background: color("white");
    color: color("red");
}

tt.xref,
a tt,
code.xref,
a code {
    color: color("black");
}

tt.download,
code.download {
    background: inherit;
    padding: inherit;
    font-weight: normal;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    border: inherit;
    white-space: inherit;

    &::before {
        font-family: fontello;
        content: "\e802";
        padding-right: .5rem;
    }
}

/* -- module highlighting --------------------------------------------------- */
dl:not(.docutils) dt {
    margin: .6rem 0;
    font-size: 90%;
    line-height: normal;
    background: color-a("primary", .1);
    color: color-a("primary", .9);
    border-top: solid 3px color("primary");
    padding: .6rem;
}

dl:not(.docutils) dl dt {
    border: none;
    border-left: solid 3px $border-color;
    background: color("secondary");
    color: $font-color;
}

dl:not(.docutils) {
    tt.descname,
    tt.descclassname,
    code.descname,
    code.descclassname {
        background-color: transparent;
        border: none;
        padding: 0;
        font-size: 100%;
    }

    tt.descname,
    code.descname {
        font-weight: bold;
    }
}

dl:not(.docutils).data dt {
    display: inline-block;
}

/* -- printout stylesheet --------------------------------------------------- */
